{{extend 'layout.html'}}
<h1 style="text-align:center;color:#580000;text-transform:capitalize;font-weight:bold;font-size:45px;font-style:impact">AIR CONDITIONERS</h1>
<table>
{{for p in ac:}}
<th>{{=p.name  }} - ${{=p.price}}</th>
<tr column-gap:40px>
    <td><img src="{{=URL('default','download',args=p.image)}}" height="200px"/> </td>
    <td>{{=p.description}}</td>
    <td><span id="{{='item%s'%p.id}}"></span> {{=A('Add to Cart',callback=URL('cart_callback',vars=dict(id=p.id,action='add')),target='item%s'%p.id)}}</td>
</tr>
{{pass}}
</table>
